// core overrides
// Sidebar
$sidebar-bg:                          #024f54 !default;

// Button

$btn-border:                          1px solid transparent;
$btn-primary-bg:                      #007580 !default;
$btn-primary-bg-hover:                #005861 !default;
$btn-primary-color:                   #fff !default;
